* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: white;
    overflow-x: hidden;
}

header {
    width: 100vw;
    height: 100vh;
    background-image: url(../img/stefan-stefancik-6whwCHgsMiA-unsplash\ 1.png);
    object-fit: cover; 
}

nav {
    width: 100%;
    height: 80px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    font-size: 24px;
}

.logo {
    color: white;
    width: 6ch;
    text-align: center;
    font-size: 33px;
}

li {
    display: inline-block;
    list-style: none;
}

a {
    text-decoration: none;
    color: white;
    margin: 0px 15px;
}

.icon {
    margin: 0px 12px;
}

.icon:hover {
    cursor: pointer;
}

.header__content {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.header__title {
    font-size: 45px;
    color: white;
    width: 19ch;
    text-align: center;
    margin-top: 140px;
    margin-bottom: 50px;
}

.header__desc {
    color: white;
    width: 65ch;
    text-align: center;
}

.header__cta {
    width: 180px;
    height: 60px;
    background-color: #00a651;
    color: white;
    margin-top: 35px;
    font-size: 20px;
    border-radius: 10px;
    border: none;
    box-shadow: 3px 2px rgba(0, 0, 0, 0.301);
}

.services__title {
    position: relative;
    left: 45%;
    font-size: 32px;
    margin-top: 20px;
}

.services__container {
    width: 100%;
    height: 300px;
    background-color: white;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.card {
    width: 380px;
    height: 200px;
    background-color: rgba(211, 211, 211, 0.712);
    border-radius: 10px;
    display: inline-block;
}

.card__title {
    position: relative;
    top: 100px;
    margin-left: 20px;
    font-size: 24px;
}

.card__desc {
    position: relative;
    top: 110px;
    margin-left: 20px;
    font-size: 16px;
}

main {
    width: 100%;
    height: 450px;
    background-color: lightgray;
    text-align: center;
}

.main__title {
    margin: 20px 0px;
    font-size: 32px;
    padding-top: 50px;
}

.main__desc {
    position: relative;
    margin: 25px 0px;
    font-size: 16px;
}

.main__container {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    margin-top: 50px;
}

.feedback__card {
    width: 180px;
    height: 180px;
    border-radius: 10px;
    background-color: gray;
    display: inline-block;
}

.feedback__title {
    position: relative;
    top: 80px;
    text-align: center;
    font-size: 32px;
    font-weight: 700;
}

.feedback__desc {
    position: relative;
    top: 95px;
}

.destinations {
    width: 100%;
    height: 600px;
    display: flex;
    justify-content: space-between;
}

.destination__title {
    font-size: 32px;
    text-align: center;
    padding-top: 30px;
}

.destination__map {
    position: relative;
    top: 80px;
}

.destination__container {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    flex-direction: column;
}

.destination__card {
    width: 400px;
    height: 150px;
    background-color: lightgray;
    border-radius: 10px;
    margin-right: 80px;
}

.destination__card > img {
    width: 150px;
    height: 150px;
}

.card__location {
    position: relative;
    bottom: 85px;
    left: 180px;
}

.card__spots {
    position: relative;
    bottom: 115px;
    left: 280px;
    width: 10ch;
}

.packages {
    background-color: lightgray;
}

.packages__title {
    font-size: 32px;
    text-align: center;
    padding-top: 40px;
    padding-bottom: 10px;
}

.packages__container {
    width: 100%;
    height: 100px;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.packages__btn {
    width: 120px;
    height: 40px;
    font-size: 16px;
    background-color: gray;
    border-radius: 8px;
    border: none;
    color: white;
    cursor: pointer;
}

.packages__btn:nth-child(1) {
    background-color: #00a651;
}

.packages__cards {
    width: 100%;
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding-top: 60px;
}

.pack__card {
    width: 300px;
    height: 300px;
    background-color: gray;
    border-radius: 10px;
}

.packages__cta {
    width: 180px;
    height: 60px;
    background-color: #00a651;
    color: white;
    border-radius: 8px;
    border: none;
    position: relative;
    left: 600px;
    font-size: 20px;
    margin-top: 80px;
}